.Header {
    width: 400px;
    background-color: #2a363b;
    margin: 0 auto;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}