.Container {
    width: 400px;
    height: 80vh;
    background-color: antiquewhite;
    margin: 0 auto;
    overflow-y: scroll;
}

.List {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
}
.List__header {
    width: 100%;
}

.List__title {

    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #feceab;
}

.List__content {
    width: 100%;
    text-align: left;
    padding: 0 10px;
}

.List__content p {
    width: 100%;
    overflow: auto;
    color: #666;
}

.List__content .List__deleteBtn {
    margin-bottom: 10px;
    font-size: 10px;
    padding: 3px;
    transform: translateX(330px);
    opacity: 0;
}

.List__content:hover .List__deleteBtn {
  opacity: 1;
}